In [3]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [5]:
ser1 = Series(np.arange(3),index=['A','B','C'])

ser1 = 2*ser1

ser1

A    0
B    2
C    4
dtype: int32

In [7]:
ser1['B']

2

In [9]:
ser1[1]
#using keys as positions is deprecated

C:\Users\rjcai\AppData\Local\Temp\ipykernel_5300\2158219610.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ser1[1]

2

In [11]:
ser1.iloc[1]

2

In [19]:
ser1.iloc[0:3]
#select all between 0 and 3

A    0
B    2
C    4
dtype: int32

In [15]:
ser1[['A','B']]

A    0
B    2
dtype: int32

In [17]:
ser1[ser1>3]

C    4
dtype: int32

In [21]:
ser1[ser1>3] = 10
ser1

A     0
B     2
C    10
dtype: int32

In [35]:
dframe = DataFrame(np.arange(25).reshape((5,5)),index=['NYC','LA','SF','DC','Chi'],columns=['A','B','C','D','E'])
dframe

      A   B   C   D   E
NYC   0   1   2   3   4
LA    5   6   7   8   9
SF   10  11  12  13  14
DC   15  16  17  18  19
Chi  20  21  22  23  24

In [37]:
dframe['B']

NYC     1
LA      6
SF     11
DC     16
Chi    21
Name: B, dtype: int32

In [39]:
dframe[['B','E']]

      B   E
NYC   1   4
LA    6   9
SF   11  14
DC   16  19
Chi  21  24

In [45]:
dframe[dframe['C']>8]

      A   B   C   D   E
SF   10  11  12  13  14
DC   15  16  17  18  19
Chi  20  21  22  23  24

In [47]:
dframe > 10

         A      B      C      D      E
NYC  False  False  False  False  False
LA   False  False  False  False  False
SF   False   True   True   True   True
DC    True   True   True   True   True
Chi   True   True   True   True   True

In [49]:
dframebool = dframe > 10

In [51]:
dframebool

         A      B      C      D      E
NYC  False  False  False  False  False
LA   False  False  False  False  False
SF   False   True   True   True   True
DC    True   True   True   True   True
Chi   True   True   True   True   True

In [61]:
dframe.loc['LA']
#again, .loc carries out function of .ix

A    5
B    6
C    7
D    8
E    9
Name: LA, dtype: int32

In [65]:
dframe.iloc[1]
#.iloc used instead of .ix for position

A    5
B    6
C    7
D    8
E    9
Name: LA, dtype: int32