In [30]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

from numpy.random import randn

In [4]:
ser = Series(randn(6),index =[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [6]:
ser

1  a    0.796689
   b    0.823445
   c   -1.135932
2  a    1.497055
   b   -0.212054
   c    2.459933
dtype: float64

In [8]:
ser.index

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [10]:
ser[1]

a    0.796689
b    0.823445
c   -1.135932
dtype: float64

In [12]:
ser[2]

a    1.497055
b   -0.212054
c    2.459933
dtype: float64

In [20]:
ser[2,'a']

1.4970552731825206

In [22]:
ser[:,'a']

1    0.796689
2    1.497055
dtype: float64

In [24]:
dframe = ser.unstack()

In [26]:
dframe

          a         b         c
1  0.796689  0.823445 -1.135932
2  1.497055 -0.212054  2.459933

In [32]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])

In [34]:
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [36]:
dframe2.index.names = ['INDEX_1','INDEX_2']
dframe2.columns.names = ['Cities','Temp']

In [40]:
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [42]:
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [46]:
#removed from current version of pandas
dframe2.sortlevel()

AttributeError: 'DataFrame' object has no attribute 'sortlevel'

In [80]:
#may use sort_values() or sort_index() instead
dframe2.sort_index(ascending=False)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
b       2         12  13  14   15
        1          8   9  10   11
a       2          4   5   6    7
        1          0   1   2    3

In [84]:
dframe2.sort_index(level=0)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [86]:
dframe2.sort_index(level=1)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [88]:
dframe2.sort_values(by=('NY','hot'))

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [90]:
dframe2.sum(level='Temp',axis=1)

TypeError: sum() got an unexpected keyword argument 'level'

In [94]:
dframe2.groupby(level='Temp',axis=1).sum()

C:\Users\rjcai\AppData\Local\Temp\ipykernel_22224\3566085828.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  dframe2.groupby(level='Temp',axis=1).sum()

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27

In [96]:
dframe2.T.groupby(level='Temp').sum()

INDEX_1  a       b
INDEX_2  1   2   1   2
Temp
cold     3  11  19  27
hot      3  11  19  27