In [32]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame
from numpy.random import randn

In [4]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [8]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [10]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [24]:
# not in python 3 - not automatically creating a list
#ranger = range(0,15,1)
#ranger

range(0, 15)

In [38]:
ranger = list(range(15))
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [40]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [42]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

In [44]:
dframe

       col1      col2      col3      col4      col5
A  0.269065 -1.291232 -0.224662 -0.269469  0.626037
B -0.213712 -0.205710 -0.296382 -1.184760  1.094410
D -0.902101 -0.510341  1.375222 -0.140472  1.529562
E  0.026642 -0.735863 -0.865818  0.944026 -0.183984
F -0.684484 -0.385452 -1.238031 -0.487521 -0.552315

In [46]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [48]:
dframe2

       col1      col2      col3      col4      col5
A  0.269065 -1.291232 -0.224662 -0.269469  0.626037
B -0.213712 -0.205710 -0.296382 -1.184760  1.094410
C       NaN       NaN       NaN       NaN       NaN
D -0.902101 -0.510341  1.375222 -0.140472  1.529562
E  0.026642 -0.735863 -0.865818  0.944026 -0.183984
F -0.684484 -0.385452 -1.238031 -0.487521 -0.552315

In [50]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [52]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.269065 -1.291232 -0.224662 -0.269469  0.626037   NaN
B -0.213712 -0.205710 -0.296382 -1.184760  1.094410   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.902101 -0.510341  1.375222 -0.140472  1.529562   NaN
E  0.026642 -0.735863 -0.865818  0.944026 -0.183984   NaN
F -0.684484 -0.385452 -1.238031 -0.487521 -0.552315   NaN