In [2]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [4]:
ser1 = Series(np.arange(3),index=['a','b','c'])
ser1

a    0
b    1
c    2
dtype: int32

In [6]:
ser1.drop('b')

a    0
c    2
dtype: int32

In [8]:
dframe1 = DataFrame(np.arange(9).reshape((3,3)),index=['SF','LA','NY'],columns=['pop','size','year'])
dframe1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [10]:
dframe1.drop('NY')
#will not drop permanently

    pop  size  year
SF    0     1     2
LA    3     4     5

In [12]:
dframe1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [14]:
dframe2 = dframe1.drop('NY')

In [16]:
dframe2

    pop  size  year
SF    0     1     2
LA    3     4     5

In [18]:
dframe1.drop('year',axis=1)

    pop  size
SF    0     1
LA    3     4
NY    6     7